main {
    width: 80%;
    margin: 0 auto;
}

footer {
    position: fixed;
}

div.gallery {
    margin: 0.5em;
    width: 22.5%;
    float: left;
    background-color: rgba(150, 139, 160, 0.932);
    color: white;
    border: 2.5px solid black;
}
  
  
div.gallery img {
    width: 100%;
    height: auto;
    border: hidden;
}
  
div.desc {
    padding: 0.4em;
    text-align: center;
}

#mainsec {
    padding-top: 1.5em;
    width: 80%;
    margin: auto;
}

@media only screen and (max-width: 1200px){
    #mainsec {
        width: 90%;
    }

    div.gallery {
        width: 28%;
    }
}

@media only screen and (max-width: 800px){
    div.gallery {
        width: 43%;
    }
}

@media only screen and (max-width: 500px){
    div.gallery {
        width: 100%;
    }
}

