body {
    font-family: sans-serif    
}

header {
    background-color: rgba(169, 101, 224, 0.932);
    color: white;
    padding: 1px;
    border-radius: 7px;
}

footer {
    color: white;
    text-align: center;
    background-color: lightgray;
    padding: 5px;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom: hidden !important;
    border-left: hidden !important;
    border-right: hidden !important;
    border-radius: 8px;
}

h1 {
    text-align: center;
    font-size: 243%;
    background-color: rgba(175, 106, 231, 0.932);
    color: white;
}

h2 {
    background-color: lightgray;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
    font-size: 17.5px;
}

table {
    padding: 200px;  
}

main  {
    padding: 0 280px;
    width: 100%;
} 

.center {
    text-align: center;
} 