@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');

body {
    font-family: 'Teko', sans-serif;
}

body { 
    background-image: url(../img/gradient-blur-wallpaper.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;   
    margin: 0%;
}

header {
    background-color: rgba(150, 139, 160, 0.932) ;
    padding: 25px;
    color: white;
    padding: 1px;
}

footer {
    color: white;
    text-align: center;
    background-color: rgba(150, 139, 160, 0.932) ;
    padding: 5px;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom: hidden !important;
    border-left: hidden !important;
    border-right: hidden !important;
    border-radius: 8px;
}

h1 {
    text-align: center;
    font-size: 400%;
    color: white;
}

h2 {
    background-color: rgba(150, 139, 160, 0.932) ;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
    font-size: 30px;
}

table {
    padding: 200px;  
}

main  {
    width: 100%;
    margin: 0 auto;
} 

.center {
    text-align: center;
    margin: auto;
    width: 70%;
    border: 5px solid white;
    padding: 9px;
    background-color:rgb(253, 253, 253);
} 

.rozcestnik {
    font-family: 'Teko', sans-serif;
    background-color:  rgba(150, 139, 160, 0.932);
    overflow: hidden;
}

.rozcsetnik a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    font-size: 40px;
    border: none;
}

.rozcestnik a:hover {
    background-color: rgb(0, 0, 0);
    color: white;
}

.rozcestnik a.active {
    background-color: rgb(5, 4, 4);
    color: white;
    text-decoration: none;
}

.rozcestnik {
    font-size: 30px;
    color: white;
} 


.rozcestnik a:link {
    text-decoration: none;
    color: white;
} 

.rozcestnik a:visited {
    text-decoration: none;
    color: white;
}

.rozcestnik ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.rozcestnik>ul>li {
    float: left;
}

.rozcestnik>ul>li>a {
    display: flex;
    color: white;
    text-align: center;
    padding: 5px 15px;
    text-decoration: none;
}




