h2 {
    padding-top: 0.5em;
}

.tabulka {
    border: 2px solid black;
    border-radius: 15px;
}    


table {
    width: 75%;
    margin: auto;
    border-collapse: collapse;
}

th {
    background-color: rgba(150, 139, 160, 0.932);
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
    padding-right: 0.5em;
    padding-left: 0.5em;
}

td {
    background-color: white;
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
    padding-right: 0.5em;
    padding-left: 0.5em;
}

td > img {
    display: block;
    margin: auto;
}

.obrazek {
    background-color:lightgray;
}

dt {
    font-weight: 600;
    font-size: 1.3em;
    padding-top: 1em;
}

dd {
    font-style: italic;
    margin-top: 0.3em;
    margin-left: 0;
}

td > a {
    color: black;
}

td > a:visited {
    color: black;
}

td > a:hover {
    color: gray
}

* {
    box-sizing: border-box;
  }
  
  .container--fluid {
    padding: 1.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 2rem;
  }
  
  .article--fluid {
    background-color: #f3f3f3;
    padding: 1rem;
    border-radius: 1rem;
  }




